#loader {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
}
#loader img{
  margin: auto;
}
#header {
  display: none;
}
body {
  font-family: avenir;
  text-align: center;

}
html {
  font-size: 26px;
}
/* @media(max-width: 7000px) {
  html {
    font-size: 28px;
  }
}  */
#header img {
  width: 100%;
}
.header-grid {
  /* font-size: .75em; */
  display: grid;
  grid-template-columns: 85% 15%;
  align-items: center;
}
/* .header-grid i{
  font-size: 2em;
} */
.instagram img{
  width: 100%;
}
.instagram h4 {
  margin-top: 60px;
}
.instagram p{
  padding-bottom: 40px;
  border-bottom: 1px solid gray;
}
/* h4{
  margin-bottom: 1px;
} */

img {
  border-radius: 20px;
}
h1 {
  text-decoration: underline;
}
